BODY{
  background-color: white;
  color: black;
  
   
}
.H1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 6px;
    height: 70px;
   /* color: antiquewhite;*/
   color: black;
  

    
    padding-left: 20px;
   /* background: transparent;
   /*backdrop-filter: blur(9px);*/
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: black;
   
}
/*.IOP{
    border: 1px solid black;
    box-shadow: blanchedalmond;
    border-radius: 15px;
    height: 250px;
    width: 450PX;
    padding-top: 15px;
    margin-left: 600PX;
    padding-left: 25PX;
    font-size: 20PX;
    background: url();*/
   

.BTN{
    position: relative;
    left: 90PX;
    
}
.iuo{
    font-size: 30px;
    color: black;
}
.logreg-box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* margin-bottom: 500px;*/
    /*margin-left: 400px;*/
    font-size: 24px;
    position: relative;
   bottom:320px;
    left: 40px;
    display: flex;
   

   background: url();
   justify-content: center;
   align-items: center;
   width: 40%;
   height: 50%;
   
   backdrop-filter: blur(9px);
   
    box-shadow: 5px 5px 5px 5px gray;
 
 /*border-bottom: 1px solid black;
 border-right: 1px solid black;
  border-radius: 20px;
   color:black;*/
}
.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    position: relative;
    
   
   
    
}
.logreg-box.active .form-box.login{
    transform: translateX(430px);
    transition-delay:0s;
} 

.logreg-box .form-box.register{
    transform: translateX(430px);
}
.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s;
}
.h8{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
 bottom: 70px;
 left: 30px;
    color:black;
    border: 2px solid transparent;
 /* background: transparent;
  backdrop-filter: blur(9px);*/
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.uu{
    position: relative;
    left: 70%;
    bottom: 20px;

        color:black;
    
        width: 40px;
        height: 50px;
       /* background: transparent;*/
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding-top: 1px;
    
}
.hh{
    position: relative;
   
    border: 2px solid transparent;
 /* background: transparent;
  backdrop-filter: blur(9px);
  /*border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 100;
}
.navbar a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    bottom: 70px;
    right: 100px;
    font-size: 15px;
    color:black ;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}
.navbar a::after{
    content: '';
    position: relative;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 2px;
    background:black;
    /*border-radius: 5px;*/
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;

}
.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
    
}
#s{
    border-bottom: 1px solid black;
   border-radius: 5px;
    border-right: 1px solid white ;

}
#img{
    position: relative;
    bottom: 260px;
    padding-left: 915px;
}
#p1{
    position: relative;
    bottom: 289px;
    left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#aa{
    color:black;
    text-decoration: none;
}